**/__pycache__/
output_csv/users_active.csv
output_csv/coleiras_vinculadas.csv
output_csv/coleiras_reportando.csv
output_csv/animals.csv
.env
utils/*
main.py
page_counts.csv
users_active.csv
analyze_pages.py
